#[Unit]
#Description=Links mounted /opt into /var/lib/libvirt/images
#ConditionPathIsDirectory=/mnt/images
#ConditionPathIsSymbolicLink=!/var/lib/libvirt/images

#[Service]
#ExecStart=/usr/bin/ln -s /mnt/images /var/lib/libvirt/images
#Type=oneshot

#[Install]
#WantedBy=default.target
