[Unit]
Description=downloads nftable rules
After=network-online.target
Before= systemd-user-sessions.service
ConditionKernelCommandLine=nft-rules

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nftable-rules

[Install]
WantedBy=multi-user.target
